
       <h1>
        codial page/<%= title%>
       </h1>
       <img src="<%= user.avatar %>" alt="<%= user.name%>" width="100">
       
    <!-- <%= locals.user.name %>
    <%= locals.user.email %> -->
     <!-- <%= locals.profile_user.name %>
    <%= locals.profile_user.email %> -->

    <% if(user.id==profile_user.id) { %>
      <!-- if user mathches show the form  -->
      <p><%= locals.profile_user.name %></p>
         <p> <%= locals.profile_user.email %></p>
    <form action="/users/update/<%= profile_user.id %>" method="post" enctype="multipart/form-data">
      <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name%>" required>
      <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email%>" required>
      <input type="file" name="avatar"  id="avatarInput" placeholder=" profile piucture">
      <!-- <img src="" alt="Avatar Preview" id="avatarPreview" style="max-width: 300px;"> -->
      <input type="submit" value="update">
    </form>  
    <% } else { %>
      <!-- show profile info -->
         <p><%= locals.profile_user.name %></p>
         <p> <%= locals.profile_user.email %></p>
      <% } %>


     

